/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 6; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    color: #aaaaaa;
    top: 0;
    right: 0;
    width: 20px;
    font-size: 28px;
    font-weight: bold;
  }
  .modal-header{
    color:green;
  }
  .modal-footer2{
 
    padding:1rem;
    border-top:1px solid #e9ecef
  }
  .modal-header2{
    
    padding:1rem;
    border-bottom:1px solid #e9ecef;
    text-align: center;
  }
  .logocont{
    width:100% ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .logoModel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: auto;
    
  }

  .textcont{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
   
  }
  .linksModal,.textcont{
    padding: 0;
 
  }
 .inputIn{
    padding: 10px;
    border-radius: 2px;
    margin-top: 5px;
    
 }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
 
  .btnEnter{
    border-radius: 2px;
  }
  .span100{
    width: 100%;
  }
  .nav-item{
    margin-left: 5px;
  }